# Example Django Environment Configuration
# Copy this file to .env for local development:
# cp .env.example .env

DJANGO_DEBUG=True
SECRET_KEY=replace-with-a-secure-random-secret-key
DEFAULT_FROM_EMAIL=CSS Society <onboarding@resend.dev>
# RESEND_API_KEY=
RECAPTCHA_ENABLED=True
RECAPTCHA_SITE_KEY=6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI
RECAPTCHA_SECRET_KEY=6LeIxAcTAAAAAGG-vFI1TnRWxMZNFuojJ4WifJWe


